:host {
  display: flex;
  height: 100vh;
}

app-sidebar {
  flex-shrink: 0; 
}

.content {
  flex: 1; 
  padding: 20px;
  overflow-y: auto; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}